body{
    background-color: rgb(115, 166, 181);
}
.flex-container {
  display: flex; 
}
 /* this selector selects all divs inside of .flex-container */
 .flex-container div {
    background: rgb(90, 150, 169);
    border: 1px solid rgb(9, 1, 1);
    height: 200px;
    flex: 1;
  }



.cupcakeimage{
     width:400px;

     height:250px;
}

.centred-image{
display:flex;
justify-content: center;

}
.image-content-wrapper{
    display: flex;
    flex-direction: row;
}
.image-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.price-wrapper{
    display: flex;
    flex-direction: column;
    

}

